span {
  font-size: 1.1em;
}
label {
  font-size: large;
}
.input-field input:focus + label {
  color: #4527a0 !important;
}

.input-field input:focus {
  border-bottom: 1px solid #4527a0 !important;
  -webkit-box-shadow: 0 1px 0 0 #4527a0 !important;
  box-shadow: 0 1px 0 0 #4527a0 !important;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
.input-field textarea:focus + label {
  color: #4527a0 !important;
}

.btn {
  color: #fff !important;
  background-color: #4527a0 !important;
  text-transform: none;
  padding: 0 50px;
  border-radius: 10px;
  font-size: 1.2em;
}
